<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user %> || Home</title>
</head>
<body>
    <div>
       <h1><%= user %> home</h1>
       <a href="/user/<%= user %>">profile</a> 
       <a href="/addbook">addbook</a>
       <a href="/logout">Logout</a>
    </div>
    <center><form action="/search" method="post">
        <input type="search" name="search" id="" placeholder="search book name">
<input type="submit">
    </form></center>
    

    <div>
        <% if (item==true) { %>
            <% for( let i = books.length-1; i >=0; i-- ) { %>
                <div onclick="move('/item/<%= books[i]._id %>')">
                    <h1> <%= books[i].name %>   </h1>
                    <h3>Subject: <%= books[i].subject %>, topic:<%= books[i].topic %>, <a href="/userid/<%= books[i].userid %>">profile</a>   </h3> 
                    <p>Description: <%= (books[i].bookDescription).substring(0,35)+"..." %> </p>
                </div>
            <% } %>
        <% }else{ %>

        <% } %>  
    </div>
</body>

<script>
    function move(pth) {
        window.location.pathname=pth
    }
</script>
</html>